@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

html {
  font-size: 62.5%;
}

/*--------------------------hero section--------------------------------*/
.hero-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color:olivedrab;
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)), url(/src/assets/images/back.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:cover;
}

.hero-section p {
  text-transform: capitalize;
  color: white;
}

.hero-section h1 {
  font-size: 5rem;
  text-transform: uppercase;
  text-align: center;
  color: white;
}

/*------------------------------responsive css style ------------------------------*/
@media (max-width: 520px) {
  /* hero section  */

  .hero-section h1 {
    font-size: 3.8rem;
  }
}

